{% extends "base.html" %}

{% block page_title%}
    {{ month|title }} Challenge <! month | title applies title casing to the month passed>
{% endblock %}

{% block content %}
    {% include "challenges/includes/header.html" %} <! include tag takes html snippets from another file (header.html) > 

    <h1>{{ month|title }} Challenge</h1> <! month and text are taken from views.py>
    {% if text is not None %}
        <h2>{{ text }}</h2>
    {% else %}
        <h2>{{ "This month hasn't been added yet" }}</h2>
    {% endif %}
{% endblock %}
