<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ month|title }} Challenge</title> <! month | title applies title casing to the month passed>
</head>
<body>
    <h1>{{ month|title }} Challenge</h1> <! month and text are taken from views.py>
    {% if text is not None %}
        <h2>{{ text }}</h2>
    {% else %}
        <h2>{{ "This month hasn't been added yet" }}</h2>
    {% endif %}
</body>
</html>