{% extends "base.html" %}

{% block page_title %}
    All Challenges
{% endblock %}

{% block content %}
    <ul>
        <! Creating a tag for block that displays months in a list on the front page of challenges app>
        <!DTL django template language doesn't require indentation or colon>
        <! url 'name of dynamic url' 'month-entered-in-browswer'>
        {% for month in months%} 
            <li><a href="{% url 'month-challenge' month %}">{{ month | title }}</a></li> 
        {% endfor %}
    </ul>
{% endblock %}